@import 'reset.css';
@import 'variables.css';

/* ************ GLOBAL / ELEMENTS ************* */

/* Full-screen container with header & footer technique using html & body from Temani Afif - https://verpex.com/blog/website-tips/modern-layouts-using-css-grid */
html {
  display: grid;
	min-height: 100%;
	/* background: var(--surface-1);
	color: var(--text-1); */
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: var(--ff-system);
}

main {
  display: grid;
  padding: var(--space-m);
  /* outline: solid 1px yellowgreen; */
}

header {
  padding: var(--space-xs);
  outline: solid 1px turquoise;
}

nav {
  display: flex;
  gap: var(--space-xs);
  justify-content: space-between;
  align-items: baseline;
  /* outline: solid 1px orange; */
}

footer {
  padding: var(--space-xs);
  text-align: center;
  outline: solid 1px pink;
}
/* TODO: do I need type="image" ?? */
button,
[type="button"],
[type="reset"],
[type="submit"],
[type="image"],
[type="checkbox"],
[type="radio"],
summary {
	cursor: pointer;
}


/* ************ BLOCKS / COMPONENTS ************* */

.button {
  display: flex;
  gap: 0.3em;
  align-items: center;
  justify-content: center;
  padding: 0.625em 1.25em;
  border-radius: 0.25em;
  text-decoration: none;
  color: inherit;
  background-color: hsl(0 0% 80%);
}

.fragment {
  display: flex;
  flex-direction: column;
  --flow-space: 0.5em;
  /* outline: solid 1px red; */
}

.fragment button {
  align-self: center;
}

.scene-container {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: var(--space-s);
  /* outline: solid 1px green; */
}

.scene-container .next {
  justify-self: end;
}

.scene-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: var(--space-s);
  /* outline: solid 1px blue; */
}

.fragwrap {
  display: grid;
  place-content: center;
  /* background-color: hsl(0 0% 95%); */
  outline: solid 1px hsl(0 0% 95%);
}

.fragwrap:nth-of-type(5) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  /* outline: solid 1px purple; */
}
.fragwrap:nth-of-type(6) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.fragwrap:nth-of-type(7) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.fragwrap:nth-of-type(8) {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}


/* ************ COMPOSITIONS ************* */

/* AUTO GRID
Related Every Layout: https://every-layout.dev/layouts/grid/
More info on the flexible nature: https://piccalil.li/tutorial/create-a-responsive-grid-layout-with-no-media-queries-using-css-grid/
A flexible layout that will create an auto-fill grid with
configurable grid item sizes

CUSTOM PROPERTIES AND CONFIGURATION
--gutter (var(--space-s-m)): This defines the space
between each item.

--grid-min-item-size (14rem): How large each item should be
ideally, as a minimum.

--grid-placement (auto-fill): Set either auto-fit or auto-fill
to change how empty grid tracks are handled */
.grid {
  display: grid;
  grid-template-columns: repeat(
    var(--grid-placement, auto-fill),
    minmax(var(--grid-min-item-size, 16rem), 1fr)
  );
  gap: var(--gutter, var(--space-s-l));
}

.grid[data-layout='50-50'] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 50vw, 26rem);
}

/*
REPEL
A little layout that pushes items away from each other where
there is space in the viewport and stacks on small viewports

CUSTOM PROPERTIES AND CONFIGURATION
--gutter (var(--space-s-m)): This defines the space
between each item.

--repel-vertical-alignment How items should align vertically.
Can be any acceptable flexbox alignment value.
*/
.repel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: var(--repel-vertical-alignment, center);
  gap: var(--gutter, var(--space-s-l));
}

.repel[data-nowrap] {
  flex-wrap: nowrap;
}


/* *************** UTILITIES **************** */
/* Utilities always come last */

/*
FLOW UTILITY
Like the Every Layout stack: https://every-layout.dev/layouts/stack/
Info about this implementation: https://piccalil.li/quick-tip/flow-utility/
*/
/* TODO: do I need .flow ??? */
.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/**
 * WRAPPER
 * Sets a max width, adds a consistent gutter and horizontally
 * centers the contents
 * Info: https://piccalil.li/quick-tip/use-css-clamp-to-create-a-more-flexible-wrapper-utility/
 */
 .wrapper {
  max-width: var(--wrapper-max-width, 85rem);
  margin-inline: auto;
  padding-inline: var(--gutter);
  position: relative;
}

/*
VISUALLY HIDDEN UTILITY for ACCESSIBILITY
Info: https://piccalil.li/quick-tip/visually-hidden/
*/
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
