{% extends 'base.html' %}

{% block title %} Tailspin scene {{scene_id}}  {% endblock %}

{% block header %} Scene {{scene_id}} <small>({{ length }} fragments)</small> {% endblock %}

{% block content %}

<div class="scene-container">

  <div class="grid" hx-ext="remove-me">
    {% for key in keys %}
    <div class="fragwrap">
      <button hx-get="/{{ scene_id }}/{{ key }}" hx-swap="outerHTML">
      <!-- <button hx-get="/{{ scene_id }}/{{ key }}" hx-target="#frag-{{ key }}"> -->
        {{ key }}
      </button>
      <div id="frag-{{ key }}"></div>
    </div>
    {% endfor %}
  </div>

  {% if scene_id < 6 %}
    <p class="next"><a href="{{ url_for('scene', scene_id=next_scene)}}">Next scene: {{next_scene}} </a></p>
  {% else %}
    <p class="next">End</p>
  {% endif %}

</div>

{% endblock %}
