{% extends 'base.html' %}

{% block title %} Tailspin scene {{scene_id}}  {% endblock %}

{% block content %}

  <p>Scene {{scene_id}}: {{ length }} fragments </p>
  <hr>


  {% for key in keys %}
    <button hx-get="/{{ scene_id }}/{{ key }}"
            hx-target="#{{ key }}">
      {{ key }}
    </button>
    <div id="{{ key }}"></div>
  {% endfor %}

  <hr>

  {% if scene_id < 6 %}
    <p><a href="{{ url_for('scene', scene_id=next_scene)}}">Next scene {{next_scene}} </a></p>
  {% else %}
    <p>End</p>
  {% endif %}

{% endblock %}
