{% extends 'base.html' %}

{% block title %} Tailspin scene 1 {% endblock %}

  {% block content %}

  <p>Scene 1: {{ length }} fragments </p>

  <!-- <button hx-get="/scene1/g1"
          hx-target="#g1">
    George 1
  </button>
  <div id="g1"></div>

  <button hx-get="/scene1/g2"
          hx-target="#g2">
    George 2
  </button>
  <div id="g2"></div>

  <button hx-get="/scene1/a1"
          hx-target="#a1">
    Alison 1
  </button>
  <div id="a1"></div> -->

  {% for key in keys %}
    <button hx-get="/scene1/{{ key }}"
            hx-target="#{{ key }}">
      {{ key }}
    </button>
    <div id="{{ key }}"></div>
  {% endfor %}


  {% endblock %}
